# Visual Studio
.vs/
*.com
*.dll
*.exe
*.obj
*.pdb
*.user
*.config
*.log
*.bak
*.suo
*.sln.docstates

# NuGet
*.nupkg
.nuget/
nuget.exe
packages/

# Rider
.idea/

# General
bin/
obj/
[Dd]ebug/
[Rr]elease/
build/
*.kproj
*.user
*.vssscc
*.vspscc
*.dsmd
*.mdf
*.ldf
*.fsx
*.fsproj
*.sln
*.aps
*.bsc
*.fcc
*.sbr
*.scc
_ReSharper.*/
[Tt]humbs.db
*.dbmdl
*.log
*.zip
*.rar
*.tar
*.tar.gz
*.tmp
*.temp
*.backup
*.pid
*.orig
*.swp
*.swo
*.*~
*.vsix
*.webtest
*.testsettings
*.trx
*.appx
*.appxbundle
*.appxrecipe
*.pri
*.pfx
*.resharper
*.rsuser
*.cache
*.sdf
*.opensdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.pdf
*.md
*.json
*.yml
*.txt
*.xml
*.editorconfig
*.gitattributes
*.gitignore
*.gitkeep

# NbaStatsTracker specific
NbaStatsTrackerBackend/bin/
NbaStatsTrackerBackend/obj/
NbaStatsTrackerBackend.Application/bin/
NbaStatsTrackerBackend.Application/obj/
NbaStatsTrackerBackend.Domain/bin/
NbaStatsTrackerBackend.Domain/obj/
NbaStatsTrackerBackend.Infrastructure/bin/
NbaStatsTrackerBackend.Infrastructure/obj/
